

.App {
  text-align: center;

  background-image: url("./pawel-czerwinski-1311899-unsplash.jpg");
  background-size: cover;

  height: 120vh;
  
  
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  height: 100px;
  padding: 1em;
}

.bigContainer {
  width: 40vw;
  margin: 0 auto;
  background: lightgrey;
  background-image: url("https://66.media.tumblr.com/91705a4a623eab9ce301c632e7977834/tumblr_nxep03wl721toe0eco1_r2_500.gif");
  background-size: cover;
  padding: 2em;
  border: solid black 5px;
  box-shadow: 0 0 30px cyan;
  border-radius: 3%;
}

.smallContainer {
  background: white;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 2em;
  padding-top: 20px;
  box-shadow: 0 0 10px black;
  border: solid black 2px;
  height: calc(70vh - 100px);
  overflow: scroll;
  
  border-radius: 3%;
}

.appTitle {
  color: black;
  font-weight: 600;
}

.itemButtons button {
  padding: 5px;
  width: 50px;
}


.itemButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
  border: solid grey 1px;
}

.itemButtons:hover {
  border: solid purple 2px
}


.image1{
  color: rgba(14, 173, 173, 0.5);
  position: absolute;
  top:25%;
  left: 10%;
  width: 200px;
  height: 200px;
  margin:-60px 0 0 -120px;
}

.spin {
  -webkit-animation: spin 5s infinite;
   animation: spin 5s linear infinite;
}

.image2{
  color: rgba(14, 173, 173, 0.5);
  position: absolute;
  top:25%;
  left: 90%;
  width: 200px;
  height: 200px;
  margin:-60px 0 0 -80px;
}


@-webkit-keyframes spin{
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin{
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.norrisButton {
  background: transparent;
  color: violet;
  margin-top: 5em;
  border: solid cyan 1px;
  box-shadow:0 0 10px violet;
}

.norrisButton:hover {
  background-color: cyan;
  color: black;
  box-shadow: 0 0 100px violet;
  /* -webkit-background-clip: "color"; */
}

.addButton {
  background: transparent;
  background-color: white;
}

.addButton:hover {
  border: solid 1px rgb(0, 167, 167);
  box-shadow: 0 0 20px cyan;
}


.itemButtonHover:hover {
  border: solid 1px rgb(0, 167, 167);
  box-shadow: 0 0 20px cyan;
}

.secretImage {
  position: absolute;
  top: 150%;
  left: 10%;
  -webkit-animation: none 5s infinite;
  animation: none 5s linear infinite;

}

.secretButton {
  background: transparent;
  border: none ;
  color: transparent;
  position: absolute;
  width: 60%;
  top: 0;
  left: 40px;
}

.secretButton:hover {
  border: solid 1px rgba(0, 255, 255, 0.26);
  padding: 0 30px 0 10px;
}


